/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */
@import "chroma-learn.css";

:root {
    --MAIN-TEXT-color: #323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5-h6 */
    --MAIN-TITLES-H1-color: #222222; /* text color of h1 titles */
    --MAIN-LINK-color: #599a3e; /* Color of links */
    --MAIN-LINK-HOVER-color: #3f6d2c; /* Color of hovered links */
    --MAIN-BG-color: #ffffff; /* color of text by default */

    /* adjusted to base16-snazzy chroma style */
    /* --CODE-BLOCK-color: #e2e4e5; /\* fallback color for code text *\/ */
    /* --CODE-BLOCK-BG-color: #282a36; /\* fallback color for code background *\/ */
    --CODE-BLOCK-BORDER-color: #d0d0d0; /* color of block code border */

    --CODE-INLINE-color: #5e5e5e; /* color for inline code text */
    --CODE-INLINE-BG-color: #fffae9; /* color for inline code background */
    --CODE-INLINE-BORDER-color: #f8e8c8; /* color of inline code border */

    --MENU-HOME-LINK-color: #2e3b2e; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #000000; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: #74b559; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #9cd484; /*Color of menu header border */

    --MENU-SEARCH-color: #ffffff; /* Color of search field text */
    --MENU-SEARCH-BG-color: #599a3e; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BORDER-color: #84c767; /* Override search field border color */

    --MENU-SECTIONS-ACTIVE-BG-color: #1b211c; /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color: #222723; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #599a3e; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #18211c; /* Color of <hr> separator in menu */

    /* base styling for boxes */
    --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* color of the title text */
    --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* color of the content background */
    --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* fixed color of the content text */
}
